* {
    padding: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: bisque;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    align-items: center;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.box {
    width: 90%;
    max-height: 90vh;
    min-height: 45rem;
    padding: 0.8rem;
    background-color: rgb(255, 202, 88);
    margin: auto;
    display: grid;
    gap: 2rem;
    grid-template-columns: 1fr 1fr;
    justify-self: center;
    border-radius: 0.8rem;
    border: 2px solid rgb(255, 195, 122);
    color: rgb(0, 0, 0);
    text-align: center;
}

.user-info {
    width: 80%;
    height: 20rem;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem auto;
    background-color: rgb(255, 214, 124);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    li {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;

        input {
            width: 15rem;
            padding: 0.5rem 1rem;
            margin: 0 0.5rem;
            border-radius: 1rem;
        }

    }

}

#sendActionBtn,#login {
    padding: 0.5rem 1.5rem;
    margin: 0.5rem auto;
    background-color: rgb(255, 155, 42);
    border-radius: 0.8rem;
    border: 2px solid rgb(255, 199, 77);
    cursor: pointer;
}

#sendActionBtn:hover ,#login:hover {
    scale: 1.2;
    background-color: rgb(255, 165, 61);
}

#report {
    width: 80%;
    height: 20rem;
    border-radius: 1rem;
    padding: 1rem;
    margin: 1rem auto;
    background-color: rgb(255, 214, 124);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .item {
        width: 100%;
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
        align-items: center;
        justify-content: center;
        margin-bottom: 1rem;
        background-color: rgb(255, 222, 150);
        padding: 0.8rem;

    }

}